.superInput {
  padding: 8px;
  margin: 0;
  border-radius: 2px;
  border: 2px solid rgba(220, 220, 220, 1);
  background-color: #ffffff;
  outline: none;
  transition: 0.3s;

  &:hover {
    border: 2px solid rgba(0, 102, 255, 1);
  }

  &:focus {
    border: 2px solid rgba(0, 102, 255, 0);
    border-bottom: 2px solid rgb(0, 51, 204);
  }
}

.errorInput {
  position: relative;
  padding: 6px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgba(128, 0, 0, 0.1);
}

.error {
  position: absolute;
  top: -10px;
  right: 118px;
  width: 50px;
  padding: 2px;
  margin: 0;

  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: red;
}
